/* Common styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Styles for header */

header {
  width: 100%;
  background-color: #8EBC8E;
  border: 1px solid #8EBC8E;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  text-decoration: overline;
  margin-top: 20px;
  padding-bottom: 0;
}

ul {
  text-align: center;
  letter-spacing: 5px;
  list-style-type: none;
  margin-bottom: 20px;
}

img {
  width: 400px;
}


.list li:nth-child(2),
.list li:nth-child(5) {
  color: #146409;
  font-weight: bold;
  text-decoration: underline #146409 dashed 2px;
}

.list li:nth-child(3) {
  text-decoration: line-through #aa2222 solid 1px;
}

/*Styles for boxes of description blocs */

.wrapper-praha,
.wrapper-germany,
.wrapper-paris,
.wrapper-austria {
  width: 21.5%;
  min-height: 180px;
}

.wrapper-praha {
  background-color: yellow;
  margin-left: 3%;
  border: 5px dotted black;
}

.wrapper-germany {
  background-color: #9470DC;
  margin-left: 15%;
  border: 5px dashed black;
}

.wrapper-paris {
  background-color: #9ACD32;
  margin-left: 58%;
  border: 5px dashed black;
}

.wrapper-austria {
  background-color: #FA8071;
  margin-left: 50%;
  border: 5px dotted black;
}

/* Styles for description blocs */

.praha-description,
.germany-description,
.paris-description,
.austria-description {
  padding: 20px;
}

.praha-description p {
  line-height: 2rem;
  text-indent: 1.5rem;
}

.paris-description p {
  line-height: 2rem;
  text-indent: 1.5rem;
  word-break: break-all;
}

.germany-description p {
  line-height: 2rem;
  text-indent: 1.5rem;
}

.austria-description p {
  line-height: 2rem;
  text-indent: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}